// Main stylesheet.
// Compiles with codekit2

@import "bourbon", "neat";

body {
  background: #efefef;
}

p {
  &.help {
    font-style: italic;
  }
}

// main application working area
.outer-container {
  @include outer-container;
  @include pad(default);
  background: #de4;

  .sheet {
    @include span-columns(8);
    @include pad(10px);
    background: #ee9;
  }
  .jira-list {
    @include span-columns(4);
    @include omega();
    @include pad(10px);
    background: #dd1;

    .ui-draggable-dragging {
      background: red;
    }
  }
}

.time-entry {
  background: #eee;
  @include pad(2px);
}
// Time entry bubbles
.timelog {
  .hour {
    @include pad(2px);
    float:left;

    .quarter-hour {
      border: 1px solid #ccc;
      border-radius:5px;
      float: left;
      height: 20px;
      margin-left: 2px;
      width: 12px;

      &:hover,
      &.active {
        background: red;
      }
    }

  }

}
  .entry-description {
    clear: left;
    display: block;
  }


